<div>
  <md-subheader>
    Student information
  </md-subheader>
  <p>
    <strong>Name:</strong>
    <span ng-bind="student.student.fName"></span>
    <span ng-bind="student.student.lName"></span>
    <strong>Date of Birth:</strong>
    <span ng-bind="(student.student.dob | date)"></span>
    <strong>Degree:</strong>
    <span ng-bind="student.student.hDeg"></span>
    <strong>State:</strong>
    <span ng-bind="student.student.state"></span>
    <strong>Address:</strong>
    <span ng-bind="student.student.address"></span>,
    <span ng-bind="student.student.postalCode"></span>
  </p>
  <md-button type="button" class="md-warn" ui-sref="^.form">
    GO BACK
  </md-button>
</div>
